<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="CHROME"/>
		<add key="timeout" value="10"/>
		<add key="username" value="Admin"/>
		<add key="password" value="admin123"/>
		<add key="wrongPassword" value="admin1234567890"/>
		<add key="loginUrl" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"/>
		<add key="viewLeaveListUrl" value="https://opensource-demo.orangehrmlive.com/web/index.php/leave/viewLeaveList"/>
	</appSettings>
</configuration>
